.pane {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

#pane1 {
    background-color: darkred;
    height: 350px;
}

#pane2 {
    background-color: brown;
    height: 450px;
}

#pane3 {
    background-color: chocolate;
    height: 300px;
}