#app {
  display: flex;
  justify-content: center;
}

#carousel-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: gray;
  overflow-x: visible;
}

#carousel {
  white-space: nowrap;
  transition: all 200ms;
}
